*{
    margin: 0;
    padding: 0;
}

body {
    gap: 8px;
    min-height: 100vh;
    padding:8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 20px 100px auto 100px;
    grid-template-areas: 
    "nav nav "
    "div div"
    "header header"
    "main aside"
    "footer footer";
}

div {
    grid-area: div;
    background-color: rgb(196, 196, 196);
}
header {
    grid-area: header;
    background-color: rgb(196, 196, 196);
    padding: 1em;
}


nav {
    grid-area: nav;
    background-color: rgb(196, 196, 196);
    padding:1em;
    height: 10px;
   
}
main {
    grid-area: main;
    background-color: rgb(196, 196, 196);
    padding: 1em;
}

aside {
    grid-area: aside;
    background-color: rgb(196, 196, 196);
    padding: 1em;
}

footer {
    grid-area: footer;
    background-color: rgb(196, 196, 196);
    padding: 1em;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
}